.import-icon--material{
    color: $icon_color;
    padding: 12px;
}

.eye--icon--component{
    display: flex;
    align-items: center;
    padding-left: 196px;
}

.textfield--icon {
    display: flex;
    align-items: center;
    
}

.text-icon--component {
    padding: 12px 40px 12px 12px;
}