/* Form ====================================================================================================================================== */

.textfield--main-cantainer {
	background-color: white;
	border-radius: 8px;
	box-shadow: 0px 5px 19px rgba(0, 0, 0, 0.06);
}

.textfield--sub-cantainer, .textfield--content-cantainer {
	background-color: white;
	border-radius: 8px;
}

label .label_icon {
	position: relative;
	padding-right: 60px;
}

.content-cantainer--fieldone {
    padding: 10px 10px 0 10px;
}

.content-cantainer--fieldtwo {
    padding: 0 10px 0px 10px;
}

.content-cantainer--fieldthree {
    padding: 0 10px 10px 10px;
}

.toggler {
	padding: 10px 10px 23px 10px;
	border-radius: 8px;
}

.application {
	border: hidden; 
	width: 300px; 
	display: block;
}

textarea:focus, input:focus{
    outline: none;
}

hr {
	border: 0.5px solid #D9D9D9;
}

.toggler--switch, .switch-toggler-off{
	display: flex;
    align-items: center;
}

.switch-toggler-off{
	padding-right: 10px !important;
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.form-check-label {
    display: flex;
    align-items: center;
}

.verticle-row--fieldrow{
	display: flex;
	justify-content: space-between;
}

.vl{
    height: 50px;
    margin-right: 15px;
    border: 1px solid $hr_color;
}

hr{
	border: 1px solid $hr_color;
}

.right--text-field{
	display: flex;
	width: 500px;
}

.textfield--switcch-componenet {
    display: flex;
}

.txtfld-row--section{
	display: flex;
}

.textfield--row {
    padding: 12px;
	width: 500px;
}

.text-icon--component {
    padding: 12px;
}

.login--validity {
    padding: 0;
	display: flex;
}