/* Footer ==================================================================================================================================== */

.footer {
    position: absolute;
    width: 383px;
    height: 17px;
    left: 460px;
    top: 512px;  
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
}