/* Footer ==================================================================================================================================== */

.footer {
    font-style: normal;
    font-weight: $s_weight;
    font-size: $footer_font;
    line-height: 17px;
}

.footer-section{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: flex-start;
}