// Colors ====================================
$tiber_color: #218380;
$lava_color: #50A97E;
$umbra_color: #212529;
$icon_color: #BFBFBF;
$xl_color: #272525;
$background_color: #FFFFFF;
$border_color: #000000;

// Fonts =====================================32.24.20.18.10
$xl_font: 32px;
$l_font: 24px;
$m_font: 20px;
$s_font: 18px;
$xs_font: 10px;